In [ ]:
print('Hello Coders!!!')

Hello Coders!!!

In [ ]:
# no '\n'
# By default print() prints the argument and take the cursor to next line
print('Hello')
print('coders')

Hello
coders

In [ ]:
print('Hello', end = '$')
print('coders')

Hello$coders

In [ ]:
print('Hello', end = ' ')
print('coders')

Hello coders

In [ ]:
print('Hello', 'coders')

Hello coders

In [ ]:
# Variable Creation
# Dynamically Typed Language

x = 25.50
print(type(x))

<class 'float'>

In [ ]:
x = 20
print(type(x))

<class 'int'>

In [ ]:
x = 'hello'
print(type(x))

<class 'str'>

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
x = 2 + 5j
print(type(x))

<class 'complex'>

In [ ]:
a = b = c = 10

print(a, b, c)

10 10 10

In [ ]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [ ]:
a = 10
b = 20
c = 30
print(a, b, c)

10 20 30

In [ ]:
a = b = c = 10

print(id(a))
print(id(b))
print(id(c))

94146223967008
94146223967008
94146223967008

In [ ]:
# Immutability of Integer
a = b = c = 10

print(id(a))
print(id(b))
print(id(c))

b = 30
print(b)

print(id(a))
print(id(b))
print(id(c))

94146223967008
94146223967008
94146223967008
30
94146223967008
94146223967648
94146223967008

In [ ]:
x = input('Enter a value: ')

print(x)

Enter a value: 10
10

In [ ]:
a = input('Enter first no: ')
b = input('Enter the second no: ')

print('Sum:', a + b)

Enter first no: 10
Enter the second no: 20
Sum: 1020

In [ ]:
'hello' + 'coders'

'hellocoders'

In [ ]:
'happy' + 'faces'

'happyfaces'

In [ ]:
x = input('Enter a number: ')
print(type(x))

Enter a number: 3
<class 'str'>

In [ ]:
x = int(input('Enter a number: '))
print(type(x))

Enter a number: 45
<class 'int'>

In [ ]:
a = int(input('Enter first no: '))
b = int(input('Enter the second no: '))

print('Sum:', a + b)

Enter first no: 10 20

ValueError: ignored

In [ ]:
# Multiple Input in Python

x = input('Enter the values: ')
print(x)
print(type(x))

In [ ]:
x = input('Enter the values: ')
y = x.split()
print(y)

# Iterating through the resultant list
for i in y:
   print(i, type(i))

In [ ]:
x = input('Enter the values: ')
y = x.split()
print(y)

val = []

for i in y:
  val.append(int(i))

print(val)

In [ ]:
# List Comprehension
x = [int(i) for i in input('Enter values: ').split()]

print(x)

In [ ]:
# Take multiple numbers as input and print the sum
# 10 20 30 40 50
x = [int(i) for i in input('Enter integer values: ').split()]

s = 0
for j in x:
  s += j # sum = sum + j

print(s)

Enter integer values: 10 20 30 40 50
150

In [ ]:
from functools import reduce
x = [int(i) for i in input('Enter integer values: ').split()]

res = reduce(lambda a, b: a + b, x)

print(res)

Enter integer values: 10 20 30 40 50
150

In [ ]:
x = [int(i) for i in input('Enter integer values: ').split()]

print(x, type(x))
print(sum(x))

Enter integer values: 10 20 30 40 50
[10, 20, 30, 40, 50] <class 'list'>
150

In [ ]:
li = [3, 2, 7, 8, 1]
sum(li)

for i in li:
  print(i)

3
2
7
8
1

Data Types

In [ ]:
# List, Tuple, Set, Dictionary, String

s = 'hello'
st = "hello"
sr = '''hello'''
srt = """hello"""

'''
This is docstring
'''


'''
This fnction will do blah blah blah
'''
def fun():
'''
This fnction will do blah blah blah
'''

# This is a comment

'\nThis is docstring\n'

In [ ]:
s = 'w$e$l$c$o$m$E'

print(s.split('$'))

['w', 'e', 'l', 'c', 'o', 'm', 'E']

In [ ]:
s = '10 20 30 40 50'

print(s.split()) # by default it splits at <space>

['10', '20', '30', '40', '50']

In [ ]:
s = 'K@r@i@s@h'

print(s.split('@'))

['K', 'r', 'i', 's', 'h']

In [ ]:
user1 = 'angelpriya@google.com'
user2 = 'vinod@yahoo.com'

x = user1.split('@')
print(x)

['angelpriya', 'google.com']

In [ ]:
# List

li = [1, 2, 3, 'hello', 20.50]
#     0  1  2     3       4
print(li)

[1, 2, 3, 'hello', 20.5]

In [ ]:

print(li[4])

20.5

In [ ]:
# Iteration

for i in li:
  print(i)

1
2
3
hello
20.5

In [ ]:
# repetition

li = [1, 2, 3]

print(li * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
arr = [0] * 50

print(arr)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Slicing

li = [3, 5, 8, 12, 9]

print(li[1])
print(li[-2]) # negative index
# Slicing
print(li[2 : 5]) # start : end - 1
print(li[1 : 5])
print(li [2 :  ])
print(li[ : ])
print(li[2 : 5 : 1]) # start : end : step

5
12
[8, 12, 9]
[5, 8, 12, 9]
[8, 12, 9]
[3, 5, 8, 12, 9]
[8, 12, 9]

In [ ]:
s = 'coders'
print(s[2])
print(s[2 : 5])

d
der

In [ ]:
li = [3, 5, 8, 12, 9]
print(li[2 : 5 : 1]) # start : end : step
print(li[ 0 : 5 : 2])
print(li [: : 2])
print(li[ : : -1])
print(li)

[8, 12, 9]
[3, 8, 9]
[3, 8, 9]
[9, 12, 8, 5, 3]
[3, 5, 8, 12, 9]

In [ ]:
li = [3, 5, 8, 12, 9]
print(max(li), min(li), sum(li))

12 3 37

In [ ]:
tup = (10, 20, 'hello')
print(tup, type(tup))

(10, 20, 'hello') <class 'tuple'>

In [ ]:
li = [10, 20, 'hello']
tup = (10, 20, 'hello')

li[0] = 100 # List is mutable
print(li)

tup[0] = 100 # Tuple is immutable
print(tup)

[100, 20, 'hello']

TypeError: ignored